.wrapper .container .header {
  height: 30%;
  width: 100%; }
.wrapper .container .center {
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 60%;
  width: 100%;
  display: flex; }
.wrapper .container .footer {
  height: 10%;
  width: 100%; }

#option-container {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 30%;
  height: 100%;
  border: 1px solid black; }
  #option-container #option-wrapper {
    margin-left: 50%;
    margin-top: 30%; }

#option-wrapper #option-button {
  position: absolute;
  color: white;
  transition: transform 0.3s, top 0.3s;
  z-index: 6; }
  #option-wrapper #option-button:hover {
    cursor: pointer; }
#option-wrapper #option-menu {
  position: absolute;
  z-index: 5;
  display: none;
  transition: all 1s ease-in-out; }

#record-container {
  width: 40%;
  height: 100%;
  border: 1px solid black; }
  #record-container #record-wrapper {
    border: 1px solid black; }
    #record-container #record-wrapper #record-window {
      background-color: white;
      width: 100%;
      height: 100%; }

.message_content {
  padding: 10px;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex; }
  .message_content .message_content_header {
    width: 80px;
    height: 80px;
    text-align: justify; }
    .message_content .message_content_header img {
      width: 80px;
      height: 80px; }
  .message_content .message_content_body {
    padding-left: 10px;
    display: flex;
    flex-direction: column; }

#name-list-container {
  display: none;
  margin-left: auto;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border: 1px solid black; }
  #name-list-container #name-list-wrapper {
    width: 100%;
    height: 100%; }
    #name-list-container #name-list-wrapper #name-list-window {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }

.name-list {
  padding: 0px;
  margin: 10px 0px 10px 0px; }
  .name-list li {
    height: 50px;
    width: 100%;
    text-align: justify;
    padding-top: 20px;
    transition: 0.2s; }
    .name-list li:hover {
      cursor: pointer;
      background-color: black;
      opacity: 0.3; }

.menuitem-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  transition: transform 0.3s;
  float: center; }
  .menuitem-wrapper:nth-child(1) {
    transform: rotate(0deg) translateX(-110px); }
    .menuitem-wrapper:nth-child(1) .circle-holder {
      transform: rotate(0deg); }
  .menuitem-wrapper:nth-child(2) {
    transform: rotate(115deg) translateX(-110px); }
    .menuitem-wrapper:nth-child(2) .circle-holder {
      transform: rotate(-115deg); }
  .menuitem-wrapper:nth-child(3) {
    transform: rotate(230deg) translateX(-110px); }
    .menuitem-wrapper:nth-child(3) .circle-holder {
      transform: rotate(-230deg); }

.circle-holder {
  border-radius: 50%;
  background-color: rgba(240, 255, 255, 0.4);
  text-align: center;
  width: 80px;
  height: 80px; }
  .circle-holder:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: white;
    background: rgba(255, 255, 255, 0.3); }
  .circle-holder a {
    display: inline-block;
    padding: 1em; }

.popupContainer, .insideContainer {
  position: absolute;
  border: 1px solid white;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: auto;
  width: 400px;
  background-color: #53e3a6;
  color: black;
  z-index: 10;
  animation-duration: 1s; }
  .popupContainer .popupHeader, .insideContainer .popupHeader {
    text-align: center;
    margin: 10px; }

@keyframes popupAnimation {
  from {
    transform: scale(5) rotate(0);
    opacity: 0; }
  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1; }
  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1; }
  to {
    transform: scale(1) rotate(0);
    opacity: 1; } }
#overlay {
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: opacity 1s ease; }
  #overlay:hover {
    cursor: pointer; }

#overlay, .popupContainer, .popupHeader {
  display: none; }

/*# sourceMappingURL=inside-group-page.css.map */
